.jobs {
    background: black;
    padding-bottom: 20px;
}

.jobs h1 {
    color: white;
    padding-top: 80px;
    text-align: center;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -32px;
}
.category ul li {
    padding: 5px 10px 5px 10px;
    text-align: center;
    color: white;
}

.category ul li button {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid black;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    /* font-size: 20px; */
    text-decoration: none;
    margin-top: 20px;
    transition: 0.5s;
}

.category ul li button:hover {
    color: #ceae71;
}

.jobsList > div {
    display: flex;
    justify-content: space-around;
}

.jobsList img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.descriptionJobs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: white;
    padding-top: 30px;
}

.descriptionJobsItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 300px;
    padding: 15px 20px 0px 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    row-gap: 10px;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 13px;
}

.descriptionJobsTitle {
    font-size: 15px;
    font-weight: 500;
}

.jobsDescription {
    margin-top: -15px;
}
