.jobs {
    padding-bottom: 60px;
}

.jobs h3 {
    text-align: center;
    padding-top: 20px;
}

.custom-tabs {
    padding-top: 50px;
    /* padding-bottom: 30px; */
    border: none;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
}

.jobs .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
}

.custom-tabs .nav-link {
    color: black;
    border: none;
    font-weight: 500;
    width: 100%;
}
.custom-tabs .nav-link.active {
    background: rgba(0, 0, 0, 0.8);
    color: #ceae71;
    border: none;
    border-radius: 0;
}

/* SWIPER ---------------------------------------------- */
.jobs .swiper-pagination-bullet {
    background: white;
}

.jobs .swiper-pagination-bullet-active {
    background: black;
}

.jobs .swiper-button-next,
.jobs .swiper-button-prev {
    color: black; /* Cor das setas */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 10px;
}

.jobs .swiper-button-next:after,
.jobs .swiper-button-prev:after {
    font-size: 20px;
}

.jobs .swiperSlide {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

/* IMAGES INSIDE OF SWIPER ------------------------------- */
.jobs img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border: 1px solid rgb(0, 0, 0, 0.1);
    margin: 2px;
    padding: 2px;
}

.jobs img:hover {
    box-shadow: 0 0 30px rgba(200, 200, 200);
    transition: 0.5s;
}

/* MOBILE/RESPONSIVE ----------------------------------------- */
@media screen and (max-width: 514px) {
    .jobs img {
        width: 450px;
        height: 450px;
    }
}

@media screen and (max-width: 455px) {
    .jobs img {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 405px) {
    .jobs img {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 352px) {
    .jobs img {
        width: 300px;
        height: 300px;
    }

    .jobs .swiper-button-next:after,
    .jobs .swiper-button-prev:after {
        font-size: 15px;
    }

    .jobs .swiper-pagination-bullet {
        background: white;
        width: 5px;
        height: 5px;
    }
    .jobs .swiper-pagination-bullet-active {
        background: black;
    }
}

@media screen and (max-width: 320px) {
    .jobs img {
        width: 250px;
        height: 250px;
    }
}
