.navDesktop {
    height: 50px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.navDesktop ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: -32px;
}

.navDesktop ul li {
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.navDesktop ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    width: 200px;
}

.navDesktop ul li a:hover {
    color: #ceae71;
}

.mobile {
    display: none;
}

@media screen and (max-width: 576px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .navMobile {
        height: 55px;
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        z-index: 1000;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .navMobile ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-left: -37px;
    }

    .navMobile ul li {
        text-align: center;
        margin-bottom: 5px;
    }

    .navMobile ul li a {
        display: flex;
        flex-direction: column;
        color: white;
        text-decoration: none;
        font-size: 10px;
        width: 80px;
    }
    .navMobile ul li a i {
        color: white;
        font-size: 25px;
        margin-bottom: -5px;
    }

    .navMobile ul li a:hover,
    .navMobile ul li a:hover i {
        color: #ceae71;
    }
}
