.footer {
    background: black;
    color: white;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.footer .text {
    font-size: 12px;

    width: 40%;
}

.footer .logo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .logo img {
    width: 40px;
    margin: 0 10px;
}
.footer .btnHome a {
    color: white;
    width: 10%;
}

.footer .btnHome a:hover {
    color: #ceae71;
}

@media screen and (max-width: 576px) {
    .footer {
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .footer .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer .text {
        width: 100%;
        text-align: center;
    }

    .footer .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer .logo img {
        width: 40px;
        margin: 0 10px;
    }
}
