.contact .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}

.title {
    margin-bottom: 14px;
    text-align: center;
}

.form {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 14px;
    height: 34px;
    border: 0;
    padding: 0 8px;
    border: 1px solid black;
}

.textarea {
    margin-bottom: 14px;
    border: 1px solid black;
    padding: 8px;
    height: 94px;
    resize: none;
}

.button {
    height: 34px;
    border: 0;
    cursor: pointer;
    background-color: black;
    font-size: 18px;
    transition: background-color, transform 0.8s;
    color: white;
}

.button:hover {
    color: #ceae71;
    transform: scale(1.01);
}
