*::before,
*::after {
    box-sizing: border-box;
}

.contact {
    width: 100%;

    margin: 0;
    padding: 0;
}
.contact .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px 0;
    width: 100%;
    flex-wrap: wrap;
}

.title {
    margin-bottom: 14px;
    text-align: center;
}

.contactInfo {
    margin: auto 10px;
    width: 45%;
}

.contactInfo .mdi {
    color: black;
}

.contactInfo .mdi:hover {
    color: #ceae71;
}

.form {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.form form {
    width: 100%;
}

.input {
    margin-bottom: 14px;
    height: 34px;
    border: 0;
    padding: 0 8px;
    border: 1px solid black;
}

.textarea {
    margin-bottom: 14px;
    border: 1px solid black;
    padding: 8px;
    height: 94px;
    resize: none;
}

.button {
    height: 34px;
    border: 0;
    cursor: pointer;
    background-color: black;
    font-size: 18px;
    transition: background-color, transform 0.8s;
    color: white;
}

.button:hover {
    color: #ceae71;
    transform: scale(1.01);
}

@media screen and (max-width: 1399px) {
    .contactInfo {
        width: 48%;
    }

    .form {
        width: 48%;
    }
}

@media screen and (max-width: 991px) {
    .contact .container {
        display: flex;
        flex-direction: column;
    }

    .contactInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .form {
        width: 95%;
    }
}
